@media screen and (max-width: 500px) {
    .location {
        flex-direction: column;
        align-items: center;
    }

    .location__input__wrap {
        width: 90%;
    }

    .city {
        width: 100%;
        margin: 10px 15px 0px 0px;
    }

    .start {
        width: 90%;
        margin: 10px 0px 10px 0px;
    }
}